<p id="notice"><%= notice %></p>

 <p>
   <strong>Icon:</strong>
   <%= @profile.icon %>
 </p>

 <p>
   <strong>Gender:</strong>
   <%= @profile.gender %>
 </p>

 <p>
   <strong>Birthday:</strong>
   <%= @profile.birthday %>
 </p>

 <p>
   <strong>Home country:</strong>
   <%= @profile.home_country %>
 </p>

 <p>
   <strong>Home city:</strong>
   <%= @profile.home_city %>
 </p>

 <p>
   <strong>First language:</strong>
   <%= @profile.first_language %>
 </p>

 <p>
   <strong>Second language:</strong>
   <%= @profile.second_language %>
 </p>

 <p>
   <strong>Introduction:</strong>
   <%= @profile.introduction %>
 </p>

 <%= link_to 'Edit', edit_profile_path(@profile) %> |
 <%= link_to 'Back', profiles_path %>